@import "../../scss/vars";

.navbar{
    background-color: #0f0f0f;
    &__container{
        max-width: 1240px;
        padding: 0 20px;
        margin: 0 auto;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        align-items: center;
    }
    &__logo{
        width: 200px;
    }
    .tools{
        display: flex;
        align-items: center;
        .btn{
            color: $violet;
            display: flex;
            flex-direction: column;
            margin-left: 15px;
            align-items: center;
            justify-content: center;
            transition: all 0.5s ease;

            &:hover{
                color: $pistachio;
            }
        }
        .icon{
            font-size: 30px;
        }
    }
}